:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sevillana-regular {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
}


a {
  font-weight: 500;
  color: #646cff;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 2em;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background-image: './src/coffee.png'; */
}

h1 {
  font-size: 3.2em;
  text-align: center;
  font-family: "Sevillana", cursive;
  line-height: 1.1;
  color: orchid;
  text-decoration: dashed underline;
}

p {
  color: darkblue;
}

button {
  border-radius: 8px;
  border: 1px solid transparent black;
  padding: 0.6em 0.6em;
  font-style: italic;
  font-weight: 100;  
  cursor: pointer;
  transition: border-color 0.50s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

div {
  background-color: rgb(249, 234, 249);
  padding: 0.5em;
  border:#535bf2;
  border-style: dashed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
